@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
    font-family: 'Josefin Sans', cursive;
  }

.line {
    border-top: #222222 solid 3px;
}

.line1 {
    border-top: #8F48EA solid 1px;
    margin-top: 5px;
}

.rowFooter {
    padding: 1%;
}

.footer {
    background-color: #c2c2c2;
    position: relative;
    padding-bottom: 2px;
    bottom: 0;
    width: 100%;
    /* margin-top: -25px; */
}

.footerTable {
    font-size: 1em;
    text-align: center;
}

.icons {
    display: inline-block;
    width: 100%;
}

.store {
    width: 13%;
    margin-left: 20px;
    margin-right: 20px;
}