.container{
  font-family: stroke;
}
.section-title{
  text-transform:uppercase;
  text-align:center;
  font-weight: 500;
}
.section{
  text-align:center;
}
.section-title-divider{
  width: 50px;
  height: 3px;
  background: #48EA8F;
  margin: 0 auto;
  margin-bottom: 20px;
}
.logo-gambar{
  background-image:
    linear-gradient(269.56deg, rgba(237, 223, 223, 0.21) -4.24%, #FAFAFA 80.53%),url('./pages/img/Rectangle.png');
    width: 900px;
    height: 420px;
    background-size: cover;
    color: white; 
    margin-left:15px; 
    padding-right:50px; 
}
.logo{
  padding-left:110px;
  padding-top:100px;
}
.expense {
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: #46b8da;
}

#mybutton {
  position: fixed;
  bottom: 20px;
  right: 130px;
}
.banner{
  background: linear-gradient(269.56deg, rgba(237, 223, 223, 0.21) -4.24%, #FAFAFA 80.53%);
  font-family: poppins;
}
.content{
  padding-top: 20px;
  background: linear-gradient(269.56deg, rgba(237, 223, 223, 0.21) -4.24%, #FAFAFA 80.53%);
  margin-top:100px;
}
#button{
  background-color: #8F48EA;
}
.nav-link.active{
  color: #fff;
  background-color: #8F48EA;
  height : 80px;
  font-size: 25px;
  text-align: center;
}
.nav-link h4{
 padding: 20px 0;
 text-align: center;
}
.nav-link{
  color: #8F48EA;
  height :80px;

}
.icon{
font-size: 40px;
padding: 5px 0;
text-align: center;
}
.tabs{
  margin-left:-15px;
}
a{
  color: #8F48EA;
}

