.container{
  font-family: 'Avalon DemiOblique', sans-serif!important;
  color: #003764;
}
.section-title{
  text-transform:uppercase;
  text-align:center;
  font-weight: 500;
}
.section{
  text-align:center!important;
  font-weight: bold;
  padding-left:0px!important;
}
.about{
  padding-top: 150px;
  background-color: #fff;
  padding-bottom: 100px;
}
.aboutIntro{
  text-align:center;
}
.section-title-divider{
  width: 50px;
  height: 3px;
  background: #48EA8F;
  margin: 0 auto;
  margin-bottom: 20px;
}
.logo-gambar{
  background-image:
    linear-gradient(269.56deg, rgba(237, 223, 223, 0.21) -4.24%, #FAFAFA 90.53%),url('./pages/img/Rectangle.png');
    width: 100%;
    height: 425px;
    background-size: cover;
    color: white; 
    margin-left:26px;
    margin-top:-15px;
    margin-bottom:-15px; 
    padding-right:50px; 
}
.logo{
  padding-left:110px;
  padding-top:100px;
}
.expense {
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: #46b8da;
}

#mybutton {
  position: fixed;
  bottom: 20px;
  right: 130px;
}
.banner{
  font-family: poppins;
  background: linear-gradient(269.56deg, rgba(237, 223, 223, 0.21) -4.24%, #FAFAFA 80.53%);
}
.content{
  padding-top: 20px;
  background-color: #e5e5e5;
  padding-bottom: 20px;
}
#button{
  background-color: #8F48EA;
}
#cost{
  padding-top:6px;
  padding-bottom:6px;
  text-align:center;
}
.nav-link.active{
  color: #fff!important;
  background-color: #8F48EA;
  height : 80px;
  font-size: 25px;
  text-align: center;
}
.nav-link h4{
 padding: 20px 0;
 text-align: center;
}
.nav-link{                                                                                                                                                                                                                                                                                                                                                                     
  color: #003764!important;
  height :80px;
  text-decoration: none;
}
.icon{
font-size: 40px;
padding: 5px 0;
text-align: center;
}
.tabs{
  margin-left:-15px;
}
.intro {
  margin-left:-15px;
  margin-top:50px;
  
}
.intro h4{
  line-height: 40px;
}
.text-green{
  color: #48EA8F;
  font-size: 40px;
  font-weight: 600;
}
.team{
  padding-top: 20px;
  margin-top:100px;
  background: linear-gradient(269.56deg, rgba(237, 223, 223, 0.21) -4.24%, #FAFAFA 80.53%);
}
.tabs a:hover{
  color:  #8F48EA;
}
.popular{
  background: linear-gradient(269.56deg, rgba(237, 223, 223, 0.21) -4.24%, #FAFAFA 80.53%);
  padding-top:100px;
  padding-bottom: 100px;
}
.features{
  padding-top: 20px; 
}

